
 <% layout('templates/layout')%>

    <p>Welcome to Wejd home</p>

 <div class="widget red span6" ontablet="span6" ondesktop="span3">

   <h2><span class="glyphicons pie_chart"><i></i></span> Browsers</h2>

   <hr>

   <div class="content">

     <div class="browserStat big">
       <img src="img/browser-chrome-big.png" alt="Chrome">
       <span>34%</span>
     </div>
     <div class="browserStat big">
       <img src="img/browser-firefox-big.png" alt="Firefox">
       <span>34%</span>
     </div>
     <div class="browserStat">
       <img src="img/browser-ie.png" alt="Internet Explorer">
       <span>34%</span>
     </div>
     <div class="browserStat">
       <img src="img/browser-safari.png" alt="Safari">
       <span>34%</span>
     </div>
     <div class="browserStat">
       <img src="img/browser-opera.png" alt="Opera">
       <span>34%</span>
     </div>


   </div>
 </div>

